/* Responsive CSS */
:root{
  --contentcolor:hsl(215, 51%, 70%);
  --etheriumcolor:hsl(178, 100%, 50%);
  --mainBG:hsl(217, 54%, 11%);
  --cardBG:hsl(216, 50%, 16%);
  --linecolor:hsl(215, 32%, 27%);
  --white:hsl(0, 0%, 100%);

  --font:'Outfit', sans-serif;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Formating body and stablishing the height */
body{
  display: flex;
  border: 2px solid white;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--mainBG);
}  

.container{
  background-color: var(--cardBG);
  border-radius: 1rem;
  /* moving the size of the container */
  transform: scale(0.8,0.8);
  width: 200px;
  box-shadow: 10px 10px 90px 10px ;
}

/* aligning items in the page */
.elements{
  margin: 1.8rem;
  outline: 2px solid white;
}

/* adjust the border and stablishing connection with 
rEd cube image, aligning items in the page */
.equilibrium{
  border-radius: 1rem;
  background:url("../images/Image-equilibrium.png") no-repeat center center/cover;
  height: 23rem;
}

